13/
14/
15/
__pycache__/
wandb
data/preprocessed_data.pt
data/train_X_y_ver_all_xyz_energy.npz
data/train_X_y_ver_all_xyz_energy.zip
keras_nominal
enc*/
cgra/vectors/*
cgra/*.png
cgra/*.txt
cgra/*.h
cgra/*.svh
cgra/*.tcl
cgra/*.json
*.out
_hist.png
save_data.pickle
*.pickle
animation.png
*.gif
